
@using HealthInformationProgram.Models.ViewModels.Common
@model HealthInformationProgram.Models.ViewModels.VisitManagementViewModel

<div class="body searchCriteria">

    <fieldset class="scheduler-border">

        <legend class="legend-border">Search Criteria</legend>

        @if ((Model.ModelState == HIPViewModelStates.Initial) || 
            (Model.ModelState == HIPViewModelStates.FindVisit))
        {
            <table class="searchCriteriaTable" style="margin-top:10px;">
                <tr>
                    <td>
                        <div class="editor-label rightJustifiedLabelTableCell">
                            @Html.LabelFor(model => model.VisitIdSearchStringFilter)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.VisitIdSearchStringFilter, new { id = "VisitIdSearchStringFilterTextBox" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:left">
                    </td>
                    <td style="text-align:left">
                        <button id="SearchButton" type="submit" class="btn btn-primary btn-xs" name="operation" value="FindVisit">Search</button>
                    </td>
                </tr>
            </table>
        }
        else
        {
            <div style="clear:left;text-align:center;padding-bottom:10px;">
                <button id="NewOfficeVisitSearchButton" class="btn btn-primary btn-xs" name="operation" value="NewOfficeVisitSearch">New Search</button>
            </div>
        }

    </fieldset>

</div>