<?xml version="1.0" encoding="utf-8" ?>

  <connectionStrings>
    <add name="SqlAzure_Clinic" connectionString="Server=mti-dev-db.database.windows.net,1433;Database=Clinic;User ID=dbadmin@mti-dev-db;Password=password$1;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
    <add name ="reportServer" connectionString="Data Source=mti-dev-cambia.cloudapp.net,57500;Initial Catalog=ReportServer1;User ID=salzheimer@medicalteams.org;Password=M1ghtD3v0p5!;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
