<?xml version="1.0" encoding="utf-8" ?>

  <connectionStrings>
    <add name="SqlAzure_Clinic" connectionString="Server=mti-dev-db.database.windows.net,1433;Database=Clinic;User ID=dbadmin@mti-dev-db;Password=password$1;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
  </connectionStrings>
