<?xml version="1.0" encoding="utf-8" ?>
  
  <connectionStrings>
    <!--<add name="SqlAzure_Clinic" connectionString="Server=mti-dev-db.database.windows.net,1433;Database=Clinic;User ID=dbadmin@mti-dev-db;Password=password$1;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>-->
    <add name="MTIUserRolesEntityDataModel" connectionString="data source=mti-dev-db.database.windows.net;initial catalog=Clinic;user id=dbadmin@mti-dev-db;password=password$1;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
