
@model List<HealthInformationProgram.Models.RevisitModel>
@{
    ViewBag.Title = "DatabaseManagement";
}

<h2>DatabaseManagement</h2>
<ul>

    @foreach ( var item in Model )
    { 
        <li>@item.Description</li>
    }
</ul>