




@model List<HealthInformationProgram.Models.RevisitModel>
@{
    ViewBag.Title = "DatabaseManagement";
}




                   <style class="cp-pen-styles">
                               tr:hover {
          background-color: #ffff99;
        }

                       .odd { 

                           background: #fff
                       }

                       .even {
                           background: #eee

                       }

                       .table-header-rotated {
                           border-collapse: collapse;
                       }

                       .csstransforms .table-header-rotated td {
                           width: 30px;
                       }

                       .no-csstransforms .table-header-rotated th {
                           padding: 5px 10px;
                       }

                       .table-header-rotated td {
                           text-align: center;
                           padding: 10px 5px;
                           border: 1px solid #ccc;
                       }

                       .csstransforms .table-header-rotated th.rotate {
                           height: 140px;
                           white-space: nowrap;
                       }

                           .csstransforms .table-header-rotated th.rotate > div {
                               -webkit-transform: translate(25px, 51px) rotate(315deg);
                               -ms-transform: translate(25px, 51px) rotate(315deg);
                               transform: translate(25px, 51px) rotate(315deg);
                               width: 30px;
                           }

                               .csstransforms .table-header-rotated th.rotate > div > span {
                                   border-bottom: 1px solid #ccc;
                                   padding: 5px 10px;
                               }

                       .table-header-rotated th.row-header {
                           padding: 0 10px;
                           border-bottom: 1px solid #ccc;
                       }
                   </style>
               </head>
               <body>
                   <!--
                   <table class="table table-header-rotated">
                       <thead>
                           <tr>
                               <th class="rotate"><div><span>This is a column</span></div></th>
                               <th class="rotate"><div><span>Another column</span></div></th>
                               <th class="rotate"><div><span>something</span></div></th>
                               <th class="rotate"><div><span>and another thing</span></div></th>
                           </tr>
                       </thead>
                       <tbody>
                           <tr class="odd">

                               <td>something</td>
                               <td>something else</td>
                               <td>another thing</td>
                               <td>this is a string </td>
                           </tr>
                           <tr class="even">

                               <td>something</td>
                               <td>something else</td>
                               <td>another thing</td>
                               <td>this is a string </td>
                           </tr>

                       </tbody>
                   </table>

-->
                   <div id="the_editor"></div>
                   <div id="the_table">



                   </div>

                   <script>
                       var matrix = [];
                       function populate() {
                           matrix[0] = [];
                           matrix[0] = ["Column one", "Another long column", "Yet another thing", "something else"];
                           matrix[1] = ["1", "2", "dog", "finch"];
                           matrix[2] = ["chicken", "I like lollipops", "Dobby has socks", "Satisfied rock."];
                           var editor = "";
                           var html = "";
                           for (var row = 0; row < matrix.length; row++) {
                               if (row === 0) {
                                   editor = "<ul>";

                                   html += "<table class='table table-header-rotated'><thead><tr>";
                                   for (var col = 0; col < matrix[row].length; col++) {
                                       html += "<th class='rotate'><div><span>" + matrix[row][col] + "</span></div></th>";

                                       editor += "<ul><input type='text' id='e" + col + "' size='30' value=''></input>&nbsp;" + matrix[row][col] + "</ul>";
                                   }
                                   editor += "</ul>";
                               } else {
                                   var css_class = "odd";
                                   if (row % 2 == 0) {
                                       css_class = "even";
                                   }
                                   console.log(col + "  class: " + css_class);
                                   html += "<tr class='" + css_class + "' id='" + row + "' onclick='clickRow(this);'>";
                                   for (var col = 0; col < matrix[row].length; col++) {
                                       html += "<td>" + matrix[row][col] + "</td>";
                                   }
                                   html += "</tr>";
                               }
                           }
                           document.getElementById("the_table").innerHTML = html;
                           editor += "<br><button id='edit' onclick='doSubmit();'>update</button><hr>";
                           document.getElementById("the_editor").innerHTML = editor;
                       }

                       populate();

                       function doSubmit() {
                           alert("this is doSubmit!");
                       }

                       function clickRow(obj) {

                           for (var col = 0; col < matrix[obj.id].length; col++) {
                               var id = "e" + col;
                               console.log("ID|" + id);
                               document.getElementById('e' + col).value = matrix[obj.id][col];
                           }
                       }
                   </script>



<table border='1'>
    <thead>
        <tr><th>Revisit Id</th> <th>Description</th><th>Sort Order</th><th>Indicator</th></tr>
    </thead>
    <tbody>
    @foreach ( var item in Model )
    { 
         
        <tr><td><a id=""></a></td><td>@item.RevisitId</td><td>@item.Description </td><td>@item.SortOrder</td> <td>@item.Indicator</td></tr>
    }
        </tbody>
</table>
