@using HealthInformationProgram.SessionData;
@{
    ViewBag.Title = "Welcome to HIP Admin";
}

<body>
   
    <table class="searchCriteriaTable" style="font-size:16px">
      <tr><td><label style="font-size:1em;padding:0;margin:0">Click a bold type title below to navigate to section</label></td></tr>
          @if (SessionData.Current.loggedInUser.IsAuthorizedToEditClientManagement())
        {
            <tr>
                <td>
                    <a href="~/ClientManagement" style="padding:0;margin:0;text-decoration:none"><h5>Client Management</h5></a>
                    Client Management is where administrators can manage and review device information.
                </td>
            </tr>
        }

        @if (SessionData.Current.loggedInUser.IsAuthroizedToViewDatabaseManagement() ||
                                        SessionData.Current.loggedInUser.IsAuthorizedToEditClientManagement())
        {
            <tr>
                <td>
                    <a href="~/DataManagement" style="padding:0;margin:0;;text-decoration:none"><h5>Database Management</h5></a>
                    Administrators can manage constants and records
                </td>
            </tr>
        }

        @if (SessionData.Current.loggedInUser.IsAuthorizedToViewReports())
        {
            <tr>
                <td>
                    <a href="~/Report" style="padding:0;margin:0;text-decoration:none"><h5>Reports</h5></a>
                    View HIP reports
                </td>
            </tr>
        }

        @if (SessionData.Current.loggedInUser.IsAuthorizedToAdminsterUsers())
        {
            <tr>
                <td>
                    <a href="~/Home/Users" style="padding:0;margin:0;text-decoration:none"><h5>Users</h5></a>
                    User Administration
                </td>
            </tr>
        }

    </table>

</body>