@{
    ViewBag.Title = "Welcome to HIP Admin";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                
            </hgroup>
            <p>
                @*To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.*@
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <a href="~/Home/ClientManagement"><h5>Client Management</h5></a>
       Client Management is where administrators can manage and review device information.
        @*<a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>*@
    </li>

    <li class="two">
        <a href="~/Home/DatabaseManagement"><h5>Database Management</h5></a>
       Administrators can manage constants and records
        @*<a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>*@
    </li>

    <li class="three">
        <a href="~/Home/Report"><h5>Reports</h5></a>
        View HIP reports
        @*<a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>*@
    </li>
</ol>
