@{
    ViewBag.Title = "Report";
}

<h2>Report</h2>


<a href="http://mti-dev-cambia.cloudapp.net/Reports/Pages/Folder.aspx">Report List</a>

<a href="http://mti-dev-cambia.cloudapp.net/Reports/Pages/Report.aspx?ItemPath=%2fDesign%2fPortrait">Portrait</a>

<a href="http://mti-dev-cambia.cloudapp.net/Reports/Pages/Report.aspx?ItemPath=%2f3.1+Consultation">3.1 Consultation</a>

<a href="http://mti-dev-cambia.cloudapp.net/Reports/Pages/Report.aspx?ItemPath=%2f3.2+Morbidity">3.2 Mobility</a>

<a href="http://mti-dev-cambia.cloudapp.net/Reports/Pages/Report.aspx?ItemPath=%2f3.4+STI">3.4 STI</a>

<a href="http://mti-dev-cambia.cloudapp.net/Reports/Pages/Report.aspx?ItemPath=%2f3.5+Chronic+Disease">3.5 Chronic Disease</a>

<a href="http://mti-dev-cambia.cloudapp.net/Reports/Pages/Report.aspx?ItemPath=%2f3.6+Mental+Illness">3.6 Mental Illness</a>

<a href="http://mti-dev-cambia.cloudapp.net/Reports/Pages/Report.aspx?ItemPath=%2f3.7+Injuries">3.7 Injuries</a>

<a href="http://mti-dev-cambia.cloudapp.net/Reports/Pages/Report.aspx?ItemPath=%2fHIS+QA">HIS QA</a>

<a href="http://mti-dev-cambia.cloudapp.net/Reports/Pages/Report.aspx?ItemPath=%2fTally+Details">Tally Details</a>